.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.container{
  margin: 40px auto 0 auto;
  max-width: 1000px;
}
.nav-container{
  margin: auto;
}

.nav-auth-container{
  margin: auto;
}

.nav-pages-container{
  margin: auto
}


a{
  text-decoration: none;
}
.rec-swipable-null:hover{
  
}

.eKYGmE{
  display:none;
}
